@import "../../../../_variables.scss";

ul{
    display:flex;
    padding:0;
    list-style:none;
    @include media-breakpoint-down(md) {
       position:absolute;
       right:20px;
       top:20px;
    }
    li{
        padding:0 4px 30px 4px;
        a{
            svg{
                width:25px;
                fill:#333;
                transition:all $animTime ease-in-out;
            }
            &:hover{
                svg{
                    fill:$color1;
                }
            }
        }
    }
}