@import "../../../../_variables.scss";

ul{
    padding:0;
    li{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        a{
            display:inline-block;
            color:$white;
            font-size:16px;
            text-transform: uppercase;
            img{
                width:40px;
                transition:all $animTime ease-in-out;
            }
            span{
                position: absolute;
                display: block;
                left: calc(50% + 40px);
                top: 50%;
                padding-left:15px;
                margin-top: -13px;
                white-space: nowrap;
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition:all $animTime ease-in-out;
                border-left:1px solid $grey
            }

            &:hover{
               span{
                  transform: scaleX(1);
               }
               img{
                    filter: invert(60%) sepia(327%) saturate(385%) hue-rotate(333deg) brightness(1.6)
               }
            }
        }
    }
}