@import "../../../_variables.scss";

aside{
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    height: 100%;
    width: 150px;
    border-right: 1px solid #333;
    background:rgba(0,0,0,0.1);
    z-index: 999;
    a{
        img{
            max-width:100px;
        }
    }
}