<section>
    <div class="title">
        <h2 [innerHTML]="title"></h2>
        <div class="description" [innerHTML]="description"></div>
    </div>
    <div id="informations">
        <ul>
            <li *ngIf="birthdate">
                <span>{{birthdate['title']}}</span>
                <span>{{birthdate['value']}}</span>
            </li>
            <li *ngIf="age">
                <span>{{age['title']}}</span>
                <span>{{age['value']}}</span>
            </li>
            <li *ngIf="adress">
                <span>{{adress['title']}}</span>
                <a href="https://www.google.fr/maps/place/{{adress['title']}}" target="blank">{{adress['value']}}</a>
            </li>
            <li *ngIf="degree">
                <span>{{degree['title']}}</span>
                <span>{{degree['value']}}</span>
            </li>
            <li *ngIf="school">
                <span>{{school['title']}}</span>
                <span>{{school['value']}}</span>
            </li>
            <li *ngIf="mail">
                <span>{{mail['title']}}</span>
                <a href="mailto:{{mail['value']}}">{{mail['value']}}</a>
            </li>
        </ul>
    </div>
    <div id="cv" class="d-flex">
        <a *ngIf="cv" href="{{cv['value']['url']}}" target="_blank">{{cv['title']}}</a>
        <a *ngIf="contact" routerLink="{{contact['value']}}" routerLinkActive="active">{{contact['title']}}</a>
    </div>
</section>
<section id="skills">
    <pfo-skills></pfo-skills>
</section>

