@import "../../../../_variables.scss";

section{
    position:relative;
    padding:100px 50px 100px 250px;
    background:$grey2;
    @include media-breakpoint-down(md) {
        padding:85px 20px 20px 20px;
        overflow-x: hidden;
    }
    #informations{
        padding:50px 0 0 0;
        ul{
            display:flex;
            flex-wrap: wrap;
            margin:0;
            padding:0;
            list-style: none;
            li{
                display:flex;
                align-items:center;
                padding:20px;
                margin:20px;
                border:1px solid $grey;
                span{
                    font-weight: 700;
                    + span,
                    + a{
                        position: relative;
                        padding-left: 30px;
                        margin-left:10px;
                        font-weight: 200;
                        &:before{
                            content:"";
                            position:absolute;
                            top:50%;
                            left:0;
                            width:20px;
                            height:1px;
                            border-bottom:1px solid $color1;
                            transform: translateY(-50%);
                        }
                    }
                    + a{
                        color:$color1;
                        text-decoration:none;
                        &:after{
                            content:"";
                            position:absolute;
                            top:100%;
                            left:30px;
                            width:0;
                            height:1px;
                            border-bottom:1px solid $color1;
                            transition:all $animTime ease-in-out;
                        }
                        &:hover{
                            &:after{
                                width:calc(100% - 30px);
                            }
                        }
                    }
                }
            }
        }
    }

    #cv{
        padding:50px 20px;
        @include media-breakpoint-down(xs) {
            flex-direction:column;
        }
        a{
            margin-right:20px;
            padding:20px;
            background:$grey2;
            color:$color1;
            border:1px solid $color1;
            transition:all $animTime ease-in-out;
            @include media-breakpoint-down(xs) {
                margin-right:0;
                margin-top:20px;
            }
            &:hover{
                text-decoration:none;
                background:$color1;
                color:$white;
            }
        }
    }

    &#skills{
        min-height:100vh;
        background:$black;
    }
}