@import "../../../../_variables.scss";

section{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh;
    padding-left:150px;
    @include media-breakpoint-down(md) {
        padding-left:70px;
    }
    &:before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url("/assets/img/devfront.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        z-index:1;
    }
    &:after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.7);
        z-index:8;
        pointer-events:none;
    }
    h1{
        display:flex;
        flex-direction: column;
        border:1px solid $white;
        > span:first-of-type{
            position: relative;
            display:block;
            padding-bottom:20px;
            margin-bottom:20px;
        }
        span + span{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            font-family: $font;
            font-size: 28px;
            font-weight:200;
            line-height: 32px;
            letter-spacing:3px;
        }

        @include media-breakpoint-down(sm) {
            font-size:40px;
        }
    }
    #hexagon-container{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:5;
    }
    article{
        position:relative;
        height: 100%;
        z-index:10;
        pointer-events: none;
    }
}
