@import "../../../../_variables.scss";

section{
    position:relative;
    min-height: 100vh;
    padding:100px 50px 100px 250px;
    background:$grey2;
    @include media-breakpoint-down(md) {
        padding:50px 50px 50px 115px;
    }
    .title{
        padding-left:50px;
        border-left:2px solid $color1;
        h2{
            .typing-slider{
                display:inline-block;
                color:$color1;
                font-style:italic;
                vertical-align: text-bottom;
            }
        }
        .description{
            font-size:18px;
            letter-spacing:3px;
            line-height:35px;
            span{
                color:$color1;
                font-style:italic;
            }
        }
    }

    .mail-adress{
        padding:100px 20px 20px 20px !important;
        a{
            color:$color1;
            letter-spacing:5px;
            font-size:55px;
            @include media-breakpoint-down(lg) {
                font-size:35px;
            }
            @include media-breakpoint-down(sm) {
                font-size:24px;
            }
            @include media-breakpoint-down(xs) {
                font-size:16px;
                word-break: break-all;
            }
            &:hover{
                text-decoration:none;
            }
        }
    }

    #informations{
        padding:50px 0 0 0;
        ul{
            display:flex;
            flex-wrap: wrap;
            margin:0;
            padding:0;
            list-style: none;
            li{
                display:flex;
                align-items:center;
                padding:20px;
                margin:20px;
                border:1px solid $grey;
                span{
                    font-weight: 700;
                    + span,
                    + a{
                        position: relative;
                        padding-left: 30px;
                        margin-left:10px;
                        font-weight: 200;
                        &:before{
                            content:"";
                            position:absolute;
                            top:50%;
                            left:0;
                            width:20px;
                            height:1px;
                            border-bottom:1px solid $color1;
                            transform: translateY(-50%);
                        }
                    }
                    + a{
                        color:$color1;
                        text-decoration:none;
                        &:after{
                            content:"";
                            position:absolute;
                            top:100%;
                            left:30px;
                            width:0;
                            height:1px;
                            border-bottom:1px solid $color1;
                            transition:all $animTime ease-in-out;
                        }
                        &:hover{
                            &:after{
                                width:calc(100% - 30px);
                            }
                        }
                    }
                }
            }
        }
    }
}