@import "../../../../_variables.scss";

section{
    position:relative;
    min-height: 100vh;
    padding:100px 100px 100px 250px;
    background:$grey2;

    .title{
        padding-left:50px;
        border-left:2px solid $color1;
        h2{
            .typing-slider{
                display:inline-block;
                color:$color1;
                font-style:italic;
                vertical-align: text-bottom;
            }
        }
        .description{
            font-size:18px;
            letter-spacing:3px;
            line-height:35px;
            span{
                color:$color1;
                font-style:italic;
            }
        }
    }
}